// =============================================================================
// CATEGORY (CSS)
// =============================================================================


// Category header
// -----------------------------------------------------------------------------

.category-header-image {
    width: 100%;
}
.custom-category-image-container {
    width: 100vw;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
    position: relative; 
    padding: 0 0;
    margin-bottom: 50px
}
