<section class="blog-posts">
  <h2>Blog posts</h2>
  <div class="blog-posts__grid">
    <a href="/blog/crochet-bell-sleeves-shrug-tutorial" class="blog-post">
      <img src="{{cdn 'assets/img/T&C/blog1-min.jpeg'}}" alt="Crochet Bell Sleeves Shrug">
      <div class="blog-post__title">Crochet Bell Sleeves Shrug Tutorial</div>
    </a>
    <a href="/blog/basic-crochet-stitches" class="blog-post">
      <img src="{{cdn 'assets/img/T&C/blog2.jpg'}}" alt="Basic Crochet Stitches">
      <div class="blog-post__title">Basic Crochet Stitches</div>
    </a>
  </div>
</section>
