<div class="crochet-hero">
    <div class="crochet-hero__inner">
      <p class="crochet-hero__subheading">You're in good company</p>
      <h2 class="crochet-hero__heading">
        Loved by crochet enthusiasts, from<br>
        hobbyists to collectors
      </h2>
    </div>
    <img class="crochet-hero__decor crochet-hero__decor--left" src="{{cdn 'assets/img/T&C/decor1.svg'}}" alt="" />
    <img class="crochet-hero__decor crochet-hero__decor--right" src="{{cdn 'assets/img/T&C/decor2.svg'}}" alt="" />
    <img class="crochet-hero__decor crochet-hero__decor--bottom" src="{{cdn 'assets/img/T&C/decor3.svg'}}" alt="" />
  </div>
  
