<div class="crochet-hero">
    <div class="crochet-hero__inner">
      <p class="crochet-hero__subheading">Elevate your crochet collection with handmade elegance</p>
      <h2 class="crochet-hero__heading">
        Discover one-of-a-kind crochet<br>
        creations crafted with care.
      </h2>
    </div>
    <img class="crochet-hero__decor crochet-hero__decor--left" src="{{cdn 'assets/img/T&C/decor1.svg'}}" alt="" />
    <img class="crochet-hero__decor crochet-hero__decor--right" src="{{cdn 'assets/img/T&C/decor2.svg'}}" alt="" />
    <img class="crochet-hero__decor crochet-hero__decor--bottom" src="{{cdn 'assets/img/T&C/decor3.svg'}}" alt="" />
  </div>
  
