<section class="free-shipping-section">
    <div class="free-shipping-box">
      <div class="free-shipping-wrapper container">
        <div class="free-shipping-image-wrapper">
          <img src="{{cdn 'assets/img/T&C/freeship.png'}}" alt="Colorful crochet product" class="free-shipping-image" />
        </div>
        <div class="free-shipping-content">
          <small class="free-shipping-subtitle">Free Shipping on Select Products</small>
          <h2 class="free-shipping-title">
            Snag Your Favorites with <br />
            No Extra Shipping Costs
          </h2>
          <p class="free-shipping-desc">
            Enjoy free shipping on select crochet pieces — from cozy blankets to stylish accessories.
            No extra fees, just handmade goodness delivered straight to your door.
          </p>
          <a href="/collections/all" class="button button--primary free-shipping-btn">Browse</a>
          <span class="free-shipping-note">Get it as soon as Tue, Nov 5</span>
        </div>
      </div>
    </div>
  </section>
  
